<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<section>
	<form action="/insert" method="post">
		<div class="input">
			<label for="name">Namn</label>
			<input type="text" name="name">
		</div>
		<div class="input">
			<label for="year">Ålder</label>
			<input type="text" name="year">
		</div>
		<div class="input">
			<label for="comment">Kommentar</label>
			<input type="text" name="comment">
		</div>
		
		<button type="submit">Submit</button>
	</form>
</section>
<section>
	<h2>Get Data</h2>
	<a href="/get-data">Load Data</a>
	<div>
		{{# each items }}
			<article>
				<div>ID: {{ this._id}}</div>
				<div>Name: {{ this.name}}</div>
				<div>Ålder: {{ this.year}}</div>
				<div>Kommentar: {{ this.comment}}</div>
			</article>
		{{/each}}
	</div>
</section>
<section>
	<form action="/update" method="post">
		<h2>Update Data</h2>
		<div class="update">
			<label for="id">ID</label>
			<input type="text" id="id" name="id">
		</div>
		<div class="update">
			<label for="name">Namn</label>
			<input type="text" id="name" name="name">
		</div>
		<div class="update">
			<label for="year">Ålder</label>
			<input type="text" id="year" name="year">
		</div>
		<div class="update">
			<label for="comment">Kommentar</label>
			<input type="text" id="comment" name="comment">
		</div>
		
		<button type="submit">Submit</button>
	</form>
</section>
<section>
	<form action="/delete" method="post">
		<h2>Delete Data</h2>
		<div class="update">
			<label for="id">Namn</label>
			<input type="text" id="id" name="id">
		</div>
		
		
		<button type="submit">Submit</button>
	</form>
</section>